<div class="pos">
  <header class="filtro">
  <div class="head-title">
    <h1>{{ 'APARTMENTS.title' | translate }}</h1>
    <h3>{{ 'APARTMENTS.subtitle' | translate }}</h3>
  </div>
</header>
  <div class="content">
    <div fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="30px"
         fxLayoutAlign="flex-start">

      <div fxFlex="0 1 calc(33.3% - 30px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>map</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.location.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.location.text' | translate }}</p>
        </div>
      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>mood</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.carefree.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.carefree.text' | translate }}</p>
        </div>
      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>supervised_user_circle</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.security.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.security.text' | translate }}</p></div>

      </div>


      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>euro_symbol</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.best-rates.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.best-rates.text' | translate }}</p>
        </div>
      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>attach_money</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.zero-commissions.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.zero-commissions.text' | translate }}</p>
        </div>
      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>money</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.special-discounts.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.special-discounts.text' | translate }}</p></div>

      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>playlist_add</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.extra-services.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.extra-services.text' | translate }}</p>
        </div>
      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>mood</mat-icon>
        </div>
        <div fxFlex="80%">
          <h2>{{ 'APARTMENTS.features.comfort.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.comfort.text' | translate }}</p>
        </div>
      </div>
      <div fxFlex="0 1 calc(33.3% - 32px)"
           fxFlex.lt-md="0 1 calc(50% - 32px)"
           fxFlex.lt-sm="100%">
        <div fxFlex="16%">
          <mat-icon>drive_eta</mat-icon>
        </div>
        <div fxFlex="72%">
          <h2>{{ 'APARTMENTS.features.carpark.title' | translate }}</h2>
          <p>{{ 'APARTMENTS.features.carpark.text' | translate }}</p></div>

      </div>
    </div>
    <div class="container">{{ 'APARTMENTS.features.footer' | translate }}</div>
    <div class="container">
      <h2>{{ 'APARTMENTS.features.overview.title' | translate }}</h2>
      <p>{{ 'APARTMENTS.features.overview.subtitle' | translate }}</p>

    </div>

    <div class="mat-table">
      <div class="mat-header-row">
        <div class="mat-header-cell"></div>
        <div class="mat-header-cell">BASTILLE BOUTIQUE FLAT</div>
        <div class="mat-header-cell">BASTILLE OPERA APARTMENT</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.capacity.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.capacity.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.capacity.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.size.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.size.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.size.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.bedrooms.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.bedrooms.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.bedrooms.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.beds.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.beds.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.beds.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.price.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.price.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.price.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.minimum.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.minimum.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.minimum.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.internet.label' | translate }}</div>
        <div class="mat-cell"><mat-icon>check</mat-icon></div>
        <div class="mat-cell"><mat-icon>check</mat-icon></div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.kitchen.label' | translate }}</div>
        <div class="mat-cell"><mat-icon>check</mat-icon></div>
        <div class="mat-cell"><mat-icon>check</mat-icon></div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.bathroom.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.bathroom.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.bathroom.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.air-conditioning.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.air-conditioning.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.air-conditioning.ap2' | translate }}</div>
      </div>
      <div class="mat-row">
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.garage.label' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.garage.ap1' | translate }}</div>
        <div class="mat-cell">{{ 'APARTMENTS.features.overview.table.garage.ap2' | translate }}</div>
      </div>

    </div>
  </div>
</div>
