.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
  background-color: black;
  color: white;
}

.main{
  background-image: url('../../../assets/home/foto2.jpg');
  background-size: cover;
  background-color: #ac6b11;
  background-blend-mode: hard-light;
  width: 100%;
  min-height: 100vh;
}

.main h1{
  color: black;
  text-shadow: 0.03em 0.03em 0.03em #ffffff78;
  font-size: 30px;
}
