<div>
  <header class="filtro">
    <div class="head-title">
      <h1>{{ 'CONDITIONS.title' | translate }}</h1>
      <h3>{{ 'CONDITIONS.subtitle' | translate }}</h3>
    </div>
  </header>
  <div class="content">
    <div fxFlex.gt-sm="80%">
      <h4>{{ 'CONDITIONS.title-list' | translate }}</h4>
      <ul>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text1' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text2' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text3' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text4' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text5' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text6' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text7' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text8' | translate }}</li>
        <li>
          <mat-icon>check</mat-icon>
          {{ 'CONDITIONS.text9' | translate }}</li>

      </ul>
    </div>
    <div fxFlex.gt-sm="20%" class="partners">
      <h4>{{ 'CONDITIONS.hint' | translate }}</h4>
      <img src="../../../assets/conditions/airbnblogo.png" alt="Rent Paris Flat airbnb">
      <img src="../../../assets/conditions/tripadvisor.png" alt="Rent Paris Flat tripadvisor">
      <h5></h5>
    </div>
  </div>
</div>


