<div class="fondo" [style.backgroundImage]="'url('+ imgSource +')'">
  <div class="fondo2" [style.backgroundImage]="'url('+ nextImgSource +')'">
    <div class="content">
      <div fxFlex.gt-sm="65%" class="main">
        <h1>{{ 'HOME.title' | translate }}</h1>
        <p>{{ 'HOME.main-card' | translate }}</p>
      </div>
      <div fxFlex.gt-sm="35%">
        <mat-card class="item">
          <mat-card-content>
            <div>
              <img mat-card-image src="../../../assets/boutique_2015/foto1.jpg"
                   alt="Bastille Boutique Flat">
            </div>
            <div>
              <div class="title">
                <h2>{{ 'HOME.title-ap1' | translate }}</h2>
              </div>

              <div class="colizq">
                <div class="stars">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
                <div class="beds">
                  <mat-icon>hotel</mat-icon>
                  <mat-icon>hotel</mat-icon>
                  <mat-icon>hotel</mat-icon>
                </div>
              </div>
              <div class="colder">
                <h3>{{ 'HOME.price-ap1' | translate }}</h3>
              </div>
              <div class="clear"></div>
            </div>

          </mat-card-content>
          <mat-card-footer>
            <div fxFlex="65%" class="text-footer">
              {{ 'HOME.text-ap1' | translate }}
            </div>
            <div fxFlex="35%">
              <button mat-raised-button color="basic">more info</button>
            </div>
          </mat-card-footer>
        </mat-card>
        <mat-card class="item">
          <mat-card-content>
            <div>
              <img mat-card-image src="../../../assets/opera/foto1.jpg"
                   alt="Bastille Opera Flat">
            </div>
            <div>
              <div class="title">
                <h2>{{ 'HOME.title-ap2' | translate }}</h2>
              </div>

              <div class="colizq">
                <div class="stars">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
                <div class="beds">
                  <mat-icon>hotel</mat-icon>
                  <mat-icon>hotel</mat-icon>
                  <mat-icon>hotel</mat-icon>
                  <mat-icon>hotel</mat-icon>
                </div>
              </div>
              <div class="colder">
                <h3>{{ 'HOME.price-ap2' | translate }}</h3>
              </div>
              <div class="clear"></div>
            </div>

          </mat-card-content>
          <mat-card-footer>
            <div fxFlex="65%" class="text-footer">
              {{ 'HOME.text-ap2' | translate }}
            </div>
            <div fxFlex="35%">
              <button mat-raised-button color="basic" fxFlexAlign="right">more info</button>
            </div>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
