<div class="fondo">
  <div class="content">
    <div fxFlex.gt-sm="60%" class="main">
      <h1>{{ 'HOME.title' | translate }}</h1>
      <p>{{ 'HOME.main-card' | translate }}</p>
    </div>
    <div fxFlex.gt-sm="40%">
      <mat-card class="item">
        <mat-card-content>
          <div fxFlex.gt-md="38%" fxFlex.lt-sm="100%">
            <img mat-card-image src="../../../assets/boutique_2015/foto1.jpg"
                 alt="Bastille Boutique Flat">
          </div>
          <div fxFlex="62%" class="r-text">
            <h2>{{ 'HOME.title-ap1' | translate }}</h2>
            <span>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </span>
            <div class="beds">
              <mat-icon>hotel</mat-icon>
              <mat-icon>hotel</mat-icon>
              <mat-icon>hotel</mat-icon>
            </div>

            <h3>{{ 'HOME.price-ap1' | translate }}</h3>
          </div>

        </mat-card-content>
        <mat-card-footer>
          <div fxFlex="72%" class="text-footer">
            {{ 'HOME.text-ap1' | translate }}
          </div>
          <div fxFlex="28%">
            <button mat-raised-button color="basic">more info</button>
          </div>
        </mat-card-footer>
      </mat-card>
      <mat-card class="item">
        <mat-card-content>
          <div fxFlex.gt-md="38%" fxFlex.lt-md="100%">
            <img mat-card-image src="../../../assets/opera/foto1.jpg"
                 alt="Bastille Opera Flat">
          </div>
          <div fxFlex="62%" class="r-text">
            <h2>{{ 'HOME.title-ap2' | translate }}</h2>
            <span>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
          </span>
            <div class="beds">
              <mat-icon>hotel</mat-icon>
              <mat-icon>hotel</mat-icon>
              <mat-icon>hotel</mat-icon>
              <mat-icon>hotel</mat-icon>
            </div>

            <h3>{{ 'HOME.price-ap2' | translate }}</h3>
          </div>

        </mat-card-content>
        <mat-card-footer>
          <div fxFlex="72%" class="text-footer">
            {{ 'HOME.text-ap2' | translate }}
          </div>
          <div fxFlex="28%">
            <button mat-raised-button color="basic" fxFlexAlign="right">more info</button>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
