<div>
  <header class="filtro">
    <div class="head-title">
      <h1>{{ 'FAQ.title' | translate }}</h1>
      <h3>{{ 'FAQ.subtitle' | translate }}</h3>
    </div>
  </header>
  <div class="content">

    <mat-accordion fxFlex="80%" fxFlexOffset="10%">

      <mat-expansion-panel>
        <mat-expansion-panel-header class="main-faq">
          {{ 'FAQ.category.amenities' | translate }}
        </mat-expansion-panel-header>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question1.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question1.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question2.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question2.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question3.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question3.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question4.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question4.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question5.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question5.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question6.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question6.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question7.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question7.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question8.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question8.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question9.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question9.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question10.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question10.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question11.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question11.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.amenities.question12.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.amenities.question12.answer' | translate }}
        </mat-expansion-panel>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header class="main-faq">
          {{ 'FAQ.category.arrivals' | translate }}
        </mat-expansion-panel-header>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question1.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question1.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question2.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question2.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question3.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question3.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question4.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question4.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question5.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question5.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question6.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question6.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question7.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question7.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question8.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question8.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question9.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question9.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question10.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question10.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.arrivals.question11.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.arrivals.question11.answer' | translate }}
        </mat-expansion-panel>


      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="main-faq">
          {{ 'FAQ.category.reservations' | translate }}
        </mat-expansion-panel-header>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question1.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question1.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question2.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question2.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question3.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question3.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question4.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question4.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question5.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question5.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question6.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question6.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.reservation.question7.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.reservation.question7.answer' | translate }}
        </mat-expansion-panel>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="main-faq">
          {{ 'FAQ.category.payments' | translate }}
        </mat-expansion-panel-header>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.payments.question1.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.payments.question1.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.payments.question2.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.payments.question2.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.payments.question3.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.payments.question3.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.payments.question4.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.payments.question4.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.payments.question5.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.payments.question5.answer' | translate }}
        </mat-expansion-panel>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header class="main-faq">
          {{ 'FAQ.category.surroundings' | translate }}
        </mat-expansion-panel-header>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.surroundings.question1.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.surroundings.question1.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.surroundings.question2.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.surroundings.question2.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.surroundings.question3.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.surroundings.question3.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.surroundings.question4.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.surroundings.question4.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.surroundings.question5.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.surroundings.question5.answer' | translate }}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-icon>help</mat-icon>
            <b>{{ 'FAQ.surroundings.question6.question' | translate }}</b>
          </mat-expansion-panel-header>
          <mat-icon>question_answer</mat-icon>
          {{ 'FAQ.surroundings.question6.answer' | translate }}
        </mat-expansion-panel>

      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
