<div>
  <header class="filtro">
    <div class="head-title">
      <h1>{{ 'ABOUT-US.title' | translate }}</h1>
      <h3>{{ 'ABOUT-US.subtitle' | translate }}</h3>
    </div>
  </header>
  <div class="content" >
    <p>{{ 'ABOUT-US.text' | translate }}</p>
    <ul>
      <li>
        <mat-icon>thumb_up_alt</mat-icon>
        {{ 'ABOUT-US.list.text1' | translate }}</li>
      <li>
        <mat-icon>thumb_up_alt</mat-icon>
        {{ 'ABOUT-US.list.text2' | translate }}</li>
      <li>
        <mat-icon>thumb_up_alt</mat-icon>
        {{ 'ABOUT-US.list.text3' | translate }}</li>
      <li>
        <mat-icon>thumb_up_alt</mat-icon>
        {{ 'ABOUT-US.list.text4' | translate }}</li>
    </ul>

  </div>
</div>

